---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" defer></script>
        <script src="/scripts/globe.js" defer></script>
	</head>
	<body>
		<Header />
		<div id="globe"></div>

		<main>
			<h1>🏮 Hello, Explorer!</h1>
			<p>
				Welcome to the official Khoj blog. We'll document our thoughts here about personal AI, product development, and the future of work.
			</p>
			<p>
				Start experimenting with your own personal AI at <a href="https://khoj.dev">khoj.dev</a>.
			</p>
			<p>We are working on core consumer AI applications to help make the future of digital services trustworthy, transparent, and deeply useful. The world is going to change a lot in the coming decade, and we want to make this shift happen responsibly and delightfully.</p>
			<p>Find our documentation at <a href="https://docs.khoj.dev">docs.khoj.dev</a>.</p>
			<p>
				Have fun! If you want to reach out, give feedback, or have a question, <a href="https://discord.gg/BDgyabRM6e">join us on Discord</a> or consult us on <a href="https://github.com/khoj-ai/khoj/issues/">GitHub</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
<style>
	main {
		position: absolute;
		top: 5%;
		/* left: 50%; */
		/* transform: translate(-50%, -50%); */
		color: white;
		/* font-size: 2em; */
		text-align: left;
	}

	#globe {
		/* position: absolute; */
	}

	@media screen and (max-width: 600px)
	{
		#globe {
			display: none;
		}
		main {
			position: relative;
		}
	}
</style>
