---
interface Props {
	title: string;
    link: string;
}

const { title, link } = Astro.props;
---

<div class="rounded-lg p-4 m-1 bg-gradient-to-r from-purple-50 to-purple-100">
    <a href={link} class="text-lg">
       {title}
    </a>
</div>

<style>
    a {
        text-decoration: none;
        color: white;
    }

    /* If the system is in dark mode, use the light mode color */
    @media (prefers-color-scheme: dark) {
        a {
            color: black;
        }
    }
</style>

