---
import { Icon } from 'astro-icon/components'
const today = new Date();
---

<footer>
	<div class="links">
		<div class="link-group">
			<a href="https://khoj.dev" target="_blank" rel="noopener noreferrer">
				<Icon name="ph:house" size={24} />
				<span>Home</span>
			</a>
			<a href="https://docs.khoj.dev" target="_blank" rel="noopener noreferrer">
				<Icon name="ph:book-bookmark" size={24} />
				<span>Docs</span>
			</a>
			<a href="https://app.khoj.dev" target="_blank" rel="noopener noreferrer">
				<Icon name="khoj" size={24} />
				<span>App</span>
			</a>
		</div>
		<div class="link-group">
			<a href="https://discord.gg/BDgyabRM6e" target="_blank">
				<Icon name="ph:discord-logo" size={28} />
				<span>Discord</span>
			</a>
			<a href="https://twitter.com/khoj_ai" target="_blank">
				<Icon name="ph:twitter-logo" size={28} />
				<span>Twitter</span>
			</a>
			<a href="https://www.linkedin.com/company/97838617/" target="_blank">
				<Icon name="ph:linkedin-logo" size={28} />
				<span>LinkedIn</span>
			</a>
			<a href="https://github.com/khoj-ai/khoj" target="_blank">
				<Icon name="ph:github-logo" size={28} />
				<span>GitHub</span>
			</a>
		</div>
	</div>
	<div class="text-sm sm:pt-1 pt-4">
		&copy; {today.getFullYear()} Khoj Inc. All rights reserved.
	</div>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 25%);
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1em;
	}
	.link-group {
		display: flex;
		justify-content: center;
		gap: 1em;
		font-size: small;
	}
	.link-group a {
		display: flex;
		gap: 0.25em;
		text-decoration: none;
		color: rgb(var(--gray));
		width: auto;
		align-items: center;
	}
	.link-group a:hover {
		color: rgb(var(--gray-dark));
	}

	@media (max-width: 720px) {
		.links {
			flex-direction: column;
		}
	}
</style>
