---
import ThemeIcon from './ThemeIcon.astro';
import { Icon } from 'astro-icon/components'
---

<header>
	<nav>
		<h2 class="header-parent">
			<a href="https://khoj.dev"><img class="header-icon" src="/icons/logo_type.svg"></img></a>
		</h2>
		<div class="internal-links pb-2">
			<a href="/">Blog</a>
		</div>
		<div class="social-links">
			<a href="https://twitter.com/khoj_ai" target="_blank">
				<span class="sr-only">Follow Khoj on Twitter</span>
				<Icon name="ph:twitter-logo" size={24} />
			</a>
			<a href="https://github.com/khoj-ai/khoj" target="_blank">
				<span class="sr-only">Follow Khoj Development on GitHub</span>
				<Icon name="ph:github-logo" size={24} />
			</a>
			<ThemeIcon />
		</div>
	</nav>
</header>
<style>
	.header-parent a {
		display: flex;
		align-items: center;
	}
	
	img.header-icon {
		height: 28px;
		border-radius: 0;
	}

	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 10%);
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
